{% load static %}
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!-- 导航条 -->
<nav class="navbar navbar-default" role="navigation" id="vue-app">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example"
        aria-expanded="false">
        <span>导航条</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example">
      <ul class="nav navbar-nav">
        <li class="nav-top">
          <a href="/">首页</a>
        </li>
        <li class="dropdown nav-top">
          <a href="#" class="dropdown-toggle on" data-toggle="dropdown">公司简介</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile:index' %}">企业概况</a></li>
            <li><a href="{% url 'profile:honor' %}">荣誉资质</a></li>
          </ul>
        </li>
        <li class="dropdown nav-top">
          <a href="#" class="dropdown-toggle on" data-toggle="dropdown">新闻动态</a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'news:list' 'company' %}">公司要闻</a></li>
            <li><a href="{% url 'news:list' 'industry' %}">行业新闻</a></li>
            <li><a href="{% url 'news:list' 'notice' %}">通知公告</a></li>
          </ul>
        </li>
        <li class="dropdown nav-top">
          <a href="#" class="dropdown-toggle on" data-toggle="dropdown">产品中心</a>
          <ul class="dropdown-menu">
            <li v-for="product_type in menu['product_type_list']"><a :href="'/product/' + product_type" >[[product_type]]</a></li>
          </ul>
        </li>
        <li class="dropdown nav-top">
          <a href="#" class="dropdown-toggle on" data-toggle="dropdown">服务支持</a>
          <ul class="dropdown-menu">
            <li><a href="{#% url 'serviceApp:download' %}">资料下载</a></li>
            <li><a href="#">人脸识别开放平台</a></li>
          </ul>
        </li>
        <li class="dropdown nav-top">
          <a href="{% url 'science:index' %}">科研基地</a>
        </li>
        <li class="dropdown nav-top">
          <a href="#" class="dropdown-toggle on" data-toggle="dropdown">人才招聘</a>
          <ul class="dropdown-menu">
            <li><a href="{#% url 'contactApp:contact' %}">联系我们</a></li>
            <li><a href="{#% url 'contactApp:recruit' %}">加入恒达</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="line"></div>
<script>
  var app = new Vue({
    delimiters: ["[[", "]]"],
    el: '#vue-app',
    data: {
      menu: {
        'product_type_list': ['-'],
      }
    },
    mounted() {
      axios
        .get("{% url 'product:type' %}")
        .then(response => {
          var data = response.data;
          console.log(data);
          for (var x in data) {
            console.log(x);
          }
          this.menu['product_type_list'] = data['product_type_list'];
        })
      $(function () {
        $(".dropdown").mouseover(function () {
          $(this).addClass("open")
        });
      });
      $(".dropdown").mouseleave(function () {
        $(this).removeClass("open");
      });
    }
  })
</script>