{% extends "../f01_common/f01_base.html" %}
{% load static %}
{% block title %}首页-恒达科技{% endblock %}
{% block content %}
<!-- AD -->
{% include "./f02_navbar_ad.html" %}
<!-- 主体内容 -->
<div class="container">
  <div class="row row-3">
    <!-- 公司概况模块 -->
    {% include "./f03_module_profile.html" %}
    <!-- 新闻动态模块 -->
    {% include "./f04_module_news.html" %}
  </div>
  <div class="row row-3">
    <!-- 通知公告模块 -->
    {% include "./f05_module_notice.html" %}
    <!-- 科研基地模块 -->
    {% include "./f06_module_science.html" %}
    <!-- 联系我们模块 -->
    {% include "./f07_module_contact.html" %}
  </div>
  <div class="row row-3">
    <!-- 产品中心模块 -->
    {% include "./f08_module_product.html" %}
  </div>
  <!-- 友情链接 -->
  <div class="row row-3"><div class="col-md-12"></div></div>
</div>
<script src="{% static 'js/jqthumb.min.js' %}"></script>
<script>
  //处理缩略图
  function DrawImage(hotimg) {
    $(hotimg).jqthumb({
      width: '100%', // 宽度
      height: '220px', // 高度
      zoom: '1', // 缩放比例
      method: 'auto' // 提交方法，用于不同的浏览器环境，默认为‘auto’
    });
  }
</script>
{% endblock %}