{% load static %}
<div class="col-md-4">
  <!-- 科研基地 -->
  <span class="part1">科研基地</span>
  <span class="part1 en">
    &nbsp;&nbsp;/ Technology Center
  </span>
  <div class="line1">
    <div class="line2 theme"></div>
  </div>
  <div>
    <a href="{% url 'science:index' %}">
      <img class="img-responsive" src="{% static 'img/ky.jpg' %}">
    </a>
    <p class="text1">
      <font color="#d30a1c">恒达科技科研基地</font>
      恒达科研基地分为计算机视觉、 机器人和视觉深度学习三个事业部，共拥有高级研发人员近30名，
      以各领域高级工程师和知名院校博士为主体的多层次研发梯队。当前，科研基地优秀的技术团队
      已为恒达在人脸识别、物联网平台搭建、机器人导航等 领域打下了坚实基础
    </p>
  </div>
</div>