{% load static %}
<div class="col-md-4">
  <!-- 联系我们 -->
  <span class="part1">联系我们</span>
  <span class="part1 en">
    &nbsp;&nbsp;/ Contact us
  </span>
  <div class="line1">
    <div class="line2 theme"></div>
  </div>
  <div>
    <ul class="list-unstyled procurement-li">
      <li>业务质询一：111-XXXXXX</li>
      <li>业务质询二：222-XXXXXX</li>
      <li>咨询电话：0111-XXXXXX</li>
      <li>企业传真：0222-XXXXXX</li>
      <li>地址：某某某新区某某大道1号</li>
      <li>邮编：XXXXXX</li>
      <li>
        网址：<a href="http://python3web.com">http://python3web.com</a>
      </li>
    </ul>
    <div class="platform"><a href="{% url 'contact:contact' %}">详情</a></div>
  </div>
</div>