<!-- 页脚 -->
<div class="container web-footer">
  <!-- 站点地图 -->
  <div class="row" id="map-footer">
    <div class="col-md-2">
      <dl>
        <dt>简介</dt>
        <dd><a href="/aboutApp/survey/">概况</a></dd>
        <dd><a href="/aboutApp/honor/">荣誉资质</a></dd>
      </dl>
    </div>
    <div class="col-md-2">
      <dl>
        <dt>产品中心</dt>
        <dd><a href="/productsApp/products/robot/">家用机器人</a></dd>
        <dd><a href="/productsApp/products/monitor/">智能门锁</a></dd>
        <dd><a href="/productsApp/products/face/">人脸识别解决方案</a></dd>
      </dl>
    </div>
    <div class="col-md-2">
      <dl>
        <dt>服务支持</dt>
        <dd><a href="/serviceApp/download/">资料下载</a></dd>
        <dd><a href="/serviceApp/platform/">人脸识别开放平台</a></dd>
      </dl>
    </div>
    <div class="col-md-2">
      <dl>
        <dt>人才招聘</dt>
        <dd><a href="/contactApp/contact/">联系我们</a></dd>
        <dd><a href="/contactApp/recruit/">加入恒达</a></dd>
      </dl>
    </div>
    <div class="col-md-4" id="wx">
      <p>扫描二维码，关注我们</p>
      <img class="qrimg" src="/static/img/qr.png" alt="wx">
      <p>客服热线：<b style="font-size:20px">400 000 0000</b></p>
    </div>
  </div>
  <!-- 版权 -->
  <div class="row " id="patent-footer">
    <p class="foot_top"> © 2021 Python Web恒达科技官网开发示例 版权所有 | 粤ICP备19006378号</p>
  </div>
</div>