{% extends "../f01_common/f01_base.html" %}
{% load static %}
{% block title %}资料下载{% endblock %}
{% block content %}
{# <link href="{% static 'css/news.css' %}" rel="stylesheet">#}
<!-- 广告横幅 -->
<div class="container-fluid">
  <div class="row">
    <img class="img-responsive model-img" src="{% static 'img/service.jpg' %}">
  </div>
</div>
<!-- 主体内容 -->
<div class="container">
  <div class="row row-3">
    <!-- 侧边导航栏 -->
    <div class="col-md-3">
      <div class="model-title">
        服务支持
      </div>
      <div class="model-list">
        <ul class="list-group">
          <li class="list-group-item" id='download'>
            <a href="{% url 'service:download' %}">资料下载</a>
          </li>
          <li class="list-group-item" id='platform'>
            <a href="{% url 'service:platform' %}">人脸识别</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- 说明文字和图片 -->
    <div class="col-md-9">
      <div class="model-details-title">
        资料列表
      </div>
      <div class="model-details">
        {% for doc in doc_list %}
        <div class="news-model">
          <img src="{% static 'img/newsicon.gif' %}">
          <a href="{% url 'service:doc' doc.id %}"><b>{{ doc.title }}</b></a>
          <span>【{{ doc.publish_date|date:"Y-m-d" }}】</span>
        </div>
        {% endfor %}

        {% if page_data %}
        <div class="paging">
          <ul id="pages" class="pagination">
            {% if page_data.first %}
            <li><a href="?page=1">1</a></li>
            {% endif %}
            {% if page_data.left %}
            {% if page_data.left_has_more %}
            <li><span>...</span></li>
            {% endif %}
            {% for i in page_data.left %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% endif %}
            <li class="active"><a href="?page={{ page_data.page }}">
                {{ page_data.page }}</a></li>
            {% if page_data.right %}
            {% for i in page_data.right %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
            {% if page_data.right_has_more %}
            <li><span>...</span></li>
            {% endif %}
            {% endif %}
            {% if page_data.last %}
            <li><a href="?page={{ page_data.total_pages }}">
                {{ page_data.total_pages }}</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}